#box {
    width: 40%;
    height: auto;
    background-color: aqua;
    margin: auto;
    margin-top: 10%;
}
#form {
    width: 80%;
    margin: auto;
    display: block;
}
input {
    width: 90%;
    padding: 3%;
    border-radius: 5px;
    border: 0px;
    display: block;
    margin-top: 20px;
}
